footer.footer .nav-footer-left {
  font-size: $type-body-sm-size;
}

.footer-quarto-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.15em;
  -webkit-mask-image: url('www/icons/quarto.svg');
  mask-image: url('www/icons/quarto.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
}
