/*-- scss:defaults --*/

// importing fonts
@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../jgoliv.github.io/www/fonts/FiraSans-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono NL';
  src: url('../jgoliv.github.io/www/fonts/JetBrainsMonoNL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// base document font specs
$font-family-sans-serif: 'FiraSans-Regular', sans-serif;
$font-size-root: 16px;
$font-family-monospace: 'JetBrains Mono NL', monospace;

// base document colors
$body-bg: white;
$body-color: #181818;
$link-color: #696FDD;

// code
$code-bg: #EFF2F5;
$code-color: #A263BB;

// code block
$code-block-bg: #EFF2F5;
$code-block-border-left: #4A4D6D;
$code-block-border-left-size: 3px;
$btn-code-copy-color: #A263BB;
$btn-code-copy-color-active: #F67751;

// sidebar
$sidebar-fg: #4A4D6D;
$sidebar-hl: #696FDD;

// toc
$toc-color: #696FDD;
$toc-active-border: #696FDD;
$toc-inactive-border: #4A4D6D;

// blockquote specs
.blockquote {
    color: #4A4D6D !important;
    background-color: #E4EFF1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: .25rem solid #4A4D6D;
}

// summary
.panel-default summary {
  color: #696FDD;
  font-weight: bold;
}
